/* Generic elements */

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0;
}

p {
  margin: 0;
}

button {
  color: white;
  background-color: #3882f6;
  padding: 8px 32px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
}

/* Sections */

/* Header */

.header {
  background-color: #1f2937;
  padding: 16px 128px 128px 128px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 128px;
}

.hero {
  display: flex;
  gap: 64px;
}

.hero>* {
  flex: 1;
}

.logo,
.main-text {
  font-weight: 900;
  color: #f9faf8;
}

.links a,
.secondary-text {
  color: #e5e7eb;
  font-size: 18px;
}

.logo {
  font-size: 24px;
}

.links {
  display: flex;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.links a {
  text-decoration: none;
}

.main-text {
  font-size: 48px;
}

.secondary-text {
  margin: 16px 0;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
  background-color: #6b7482;
}

/* Information */

.information {
  padding: 64px 0 128px 0;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 64px;
}

.info-items {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.info {
  width: 150px;
}

.info-icon {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 16px;
  margin-bottom: 8px;
}

.info p {
  text-align: center;
  color: #324258;
}
